@font-face {
    font-family: Hand;
    src: url(./../Fonts/Myfont-Regular.ttf);
}

html {
    height: 100%;
}

body {
    background: rgb(30, 30, 30);
    font-family: Hand;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 200px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

a {
    color: rgb(15, 212, 203);
}