@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    font-family: 'Nunito', sans-serif;
    cursor: none;
}

body {
    background-color: rgb(177, 177, 177);
    height: 100vh;
    width: 100vw;
    pointer-events: ease-out;
}

.playerWrapper>.player {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    transform: translateY(-85px);
}

html::-webkit-scrollbar {
    display: none;
}

.enemies {
    text-align: center;
}

.enemies>.one {
    width: 50px;
    height: 100px;
    transform: translateY(-50px);
    background-color: orange;
    transition: all 5s;
}