@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(177, 177, 177);
    height: 100vh;
    width: 100vw;
    pointer-events: ease-out;
}

.playerWrapper>.player {
    transform: translateY(-85px);
    position: absolute;
}

html::-webkit-scrollbar {
    display: none;
}

.enemyWrapper {
    text-align: center;
}

.enemyWrapper>.enemies {
    transform: translateY(-50px);
    transition: all 1s cubic-bezier(0.5, 1, 0.5, 0);
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform-origin: center;
    z-index: 2;
}

.enemyWrapper>.two {
    transform: translateX(100px) translateY(-50px);
    transition: all 1s cubic-bezier(0.5, 1, 0.5, 0);
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform-origin: center;
    z-index: 2;
}

.enemyWrapper>.three {
    transform: translateX(150px) translateY(-50px);
    transition: all 1s cubic-bezier(0.5, 1, 0.5, 0);
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform-origin: center;
    z-index: 2;
}

.enemyWrapper>.four {
    transform: translateX(200px) translateY(-50px);
    transition: all 1s cubic-bezier(0.5, 1, 0.5, 0);
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform-origin: center;
    z-index: 2;
}

.startWrapper {
    display: flex;
    align-content: center;
    justify-content: center;
}

.start {
    transform: translateY(0%);
    border-radius: 50px;
    font-size: 10rem;
    background: linear-gradient(-45deg, #ff003f, #ffa500);
    transition: all 1s ease;
}