@font-face {
    font-family: Hand;
    src: url(./../Fonts/Myfont-Regular.ttf);
}

html {
    height: 100%;
}


body {
    background: linear-gradient(-45deg, #35577D, #3c7a64);
    color: #fff;
    padding: 0px;
    margin: 0px;
    font-family: Hand;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden; 
}

.anim {
    animation-name: slideIn;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.25,.1,.25,1);
    
}

@keyframes slideIn {
    from {
        margin-top: -200%;
        transform: rotate(180deg);
    }
    
    to {
        margin-left: 0%;
        margin-top: 0%;
        transform: rotate(0deg);
        
    }
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 200px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

a {
    color: aqua;
    transition: color 1s ease-out 100ms;
}

h3 {
    font-size: 20px;
}

.center-img {
    text-align: center;
}


.banner {
    margin: 0px;
    color: white;
    transition: color 1s ease-out 100ms;
}

.banner:hover {
    color: aquamarine;
}

.links {
    text-align: center;
}

.links .YT:hover {
    color: #00ffa6;
}

.links .git:hover {
    color: #00ffa6;
}

.links .git2:hover {
    color: #00ffa6;
}